@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
    --primary-color: #cd0000;
    --text-color: #504e4e;
    --btn-color: #ff0000;
    --secondary: #0349a5;
}
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Nunito', sans-serif;
}

/* Navbar Styles */
nav .navbar {
    display: flex;
    justify-content: space-between;
    max-width: 1150px;
    margin: auto;
    align-items: center;
    height: 80px;
}
.navbar .navbar-brand h2 {
    font-size: 35px;
    font-weight: 700;
    color: var(--primary-color);
}
.nav-menu li {
    display: inline-block;
    margin: 15px 20px 0;
}
.nav-menu li a {
    font-weight: 600;
    font-size: large;
    color: var(--text-color);
}
.nav-menu li a::after {
    content: "";
    display: block;
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 7px;
    transform: scaleX(0);
    transition: .2s linear;
}
.nav-menu li a:hover::after {
    transform: scaleX(0.5);
}
.navbar .nav-btn a {
    color: var(--btn-color);
    margin: 0 7px;
    font-size: large;
}
.navbar .nav-btn a:hover {
    color: var(--secondary);
}
nav {
    position: sticky;
    top: 0;
    z-index: 2;
    border-bottom: 2px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.navbar .navbar-brand {
    display: flex;
    align-items: center;
}
.navbar-brand .btn-menu {
    color: var(--primary-color);
    margin-right: 3px;
    font-size: 21px;
    display: none;
}

/* style banner */
main{
    background-color: #efefef;
}
main .container{
    max-width: 1150px;
    display: flex;
    margin: auto;
    padding: 20px 0;
    gap: 40px;
    height: calc(100vh - 80px);
}
main img {
    width: 60%;
}
main .tagline {
    margin-top: 70px;
    padding-right: 20px;
}
.tagline .tag {
    font-size: 20px;
    color: var(--secondary);
    font-weight: 700;
    margin-bottom: 20px;
}
.tagline h1 {
    font-size: 50px;
    font-weight: 700;
    color: var(--secondary);
    line-height: 60px;
    margin-bottom: 20px;
}
.tagline .deskripsi {
    margin-bottom: 40px;
    line-height: 20px;
}
.tagline .btn-order {
    background-color: var(--btn-color);
    color: white;
    padding: 14px 17px;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
}
/* style menu */
#menu .container {
    max-width: 1150px;
    margin: auto;
    padding: 40px 0 60px;
    text-align: center;
}
#menu .title {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 40px;
    color: var(--primary-color);
}
#menu h2 {
    font-size: 30px;
    margin-bottom: 40px;
    font-weight: 700;
    color: var(--secondary);
}
#menu .galeri {
    row-gap: 20px;
    display: grid;
    column-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
   

}
.galeri .card {
    border: 1px solid #d4d4d4;
    border-radius: 6px;
    padding-bottom: 10px;
    transition: 0.3s ease;
}
.galeri .card:hover {
    transform: scale(1.05);
}
.galeri .card img {
    width: 55%;
    margin-bottom: 10px;
    border-radius: 6px 6px 0 0;
    cursor: pointer;
}
.galeri .card .menu-info {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    padding: 5px 10px;
}
.menu-info h3 {
    text-align: left;
    margin-right: 5px;
    color: var(--text-color);
}
.menu-info span {
    font-weight: bold;
    color: var(--text-color);
    text-align: left;
    padding-top: 2px;
    display: inline-block;
    width: fit-content;
    white-space: nowrap;
}
.menu-info .cart-menu {
    background-color: var(--btn-color);
    padding: 10px;
    border-radius: 4px;
    color: #efefef;
}
.menu-info i {
    font-size: small
}
.menu-info .menu-stars {
    color: #e4cb0e;
}
.galeri .card .rating {
    margin-top: 15px;
    align-items: center;
}
/* style about */
#about {
    background-color: #dfdfdf;
}
#about .container {
    max-width: 1150px;
    margin: auto;
    padding: 60px 0 80px;
}
#about .title {
    text-align: center;
    font-size: 20px;;
    margin-bottom: 20px;
    font-weight: 700;
    color: var(--primary-color);
}
#about h1 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 50px;
    font-weight: 700;
    color: var(--secondary);
}
#about .row  .about-teks{
   width: 100%;
   margin-bottom: 30px;
}
.about-teks {
    margin-bottom: 20px;
    line-height: 1.7;
}
.row .about-teks .more {
    background-color: #c90000;
    color: #efefef;
    padding: 5px;
    border-radius: 2px;
    gap: 20px;
}
/* style contact */
#contact {
    background-color: #303030;
    color: #efefef;
}
#contact .container {
    max-width: 1150px;
    margin: auto;
    padding: 50px 0;
}
#contact .container .row {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}
#contact .container .row .colums {
    width: 20%;
}
#contact .container .row .colums h2 {
    color: var(--primary-color);
    margin-bottom: 20px;
}
#contact .container .row .colums .social {
    color: #efefef;
    margin-right: 20px;
}

/* responsive mobile */
@media (max-width: 567px) {
    /* navbar */
    nav .navbar {
        padding: 0 10px;
    }
    .navbar .nav-menu {
        position: fixed;
        height: 100%;
        width: 50%;
        top: 80px;
        background-color: #303030;
        left: -100%;
        transition: 0.5s;
    }
    .navbar .nav-menu a {
        color: #ffffff;
    }
    .nav-menu li {
        display: block;
    }
    .nav-menu li a::after{
       transform-origin: left;
    }
    .nav-menu li a:hover::after {
        transform: scaleX(0.45);
    }
    .navbar-brand .btn-menu {
        display: block;
    }
    .navbar .nav-menu.active {
        left: 0;
    }
    /* style banner */
    main .container {
       display: block;
       width: 100%;
       padding: 0 10px 30px;
       text-align: center;
       height: 100%;
    }
    main .tagline {
        padding-bottom: 10px;
        margin-top: 10px;
    }
    .tagline .tag {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .tagline h1 {
        font-size: 40px;
        line-height: 45px;
        margin-bottom: 20px;
    }
    .tagline .deskripsi {
        font-size: 15px;
        margin-bottom: 30px;
    }
    main img {
        width: 70%;
    }
    /* style menu */
    #menu .container {
        width: 100%;
        padding: 30px 10px;
    }
   #menu h2 {
         font-size: 40px;         
   }
   #menu .galeri {
        grid-template-columns: 1fr;
        padding: 0 30px
   }
   /* style contact */
    #contact .container {
          width: 100%;
          padding: 30px 10px;
    }
    #contact .container .row {
        flex-wrap: wrap;
    }
    #contact .container .row .colums {
        width: 47%;
        margin: 10px 0;
    }
    
}
